<!-- Header - Lukáš Richter -->
    <header id="header">
        <a href="/" class="logo"><strong>Lukáš Richter</strong> Python programátor</a>
        <ul class="icons">
            <li><a href="https://www.linkedin.com/in/lukasrichterprogrammer/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="https://github.com/richtluk" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="mailto:lukasrichter%40lukasrichter.cz" class="icon solid fa-envelope"><span class="label">E-mail</span></a></li>
        </ul>
    </header>
