<!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">

            <!-- Search -->
                <section id="search" class="alt">
                    <form method="get" action="https://google.com/search">
                        <input type="hidden" name="sitesearch" value="https://www.lukasrichter.cz" />
                        <input type="text" name="q" id="query" placeholder="Hledat" />
                    </form>
                </section>

            <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <h2>Menu</h2>
                    </header>
                    <ul>
                        <li><a href="/">Domů</a></li>
                        <li><a href="/about-me.html">O mně</a></li>
                        <li><a href="/#offer">Co nabízím</a></li>
                        <li><a href="/#cantdo">S čím nepomohu</a></li>

                        <li>
                            <span class="opener">Katalog</span>
                            <ul>
                                <li><a href="/catalogue.html">Přehled</a></li>
                                <li>
                                    <a href="/catalogue.html#by-interface">Podle rozhraní</a>
                                    <ul>
                                        <li><a href="/catalogue.html#GUI">Grafické (GUI)</a></li>
                                        <li><a href="/catalogue.html#CLI">Terminál (CLI)</a></li>
                                        <li><a href="/catalogue.html#API">Aplikační (API)</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="/catalogue.html#by-function">Podle funkcí</a>
                                    <ul>
                                        <li><a href="/catalogue.html#database-systems">Databázové systémy</a></li>
                                        <li><a href="/catalogue.html#data-processing">Zpracování dat</a></li>
                                        <li><a href="/catalogue.html#document-generation">Generování dokumentů</a></li>
                                        <li><a href="/catalogue.html#automation">Automatizace</a></li>
                                        <li><a href="/catalogue.html#crawlers-bots-simulations">Crawleři, roboti, simulace</a></li>
                                        <li><a href="/catalogue.html#presentation">Prezentace</a></li>
                                        <li><a href="/catalogue.html#visualisation">Vizualizace</a></li>
                                        <li><a href="/catalogue.html#image-processing">Zpracování obrazu</a></li>
                                    </ul>
                                </li>
                                <li><a href="/catalogue.html#others">Další</a></li>
                            </ul>
                        </li>
                        <li><a href="/price-list.html">Ceník</a></li>
                        <li><a href="/#contact">Kontakt</a></li>
                    </ul>
                </nav>
        </div>
    </div>