<!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">

            <!-- Search -->
                <section id="search" class="alt">
                    <form method="post" action="#">
                        <input type="text" name="query" id="query" placeholder="Search" />
                    </form>
                </section>

            <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <h2>Menu</h2>
                    </header>
                    <ul>
                        <li><a href="/">Domů</a></li>
                        <li><a href="/about-me.html">O mně</a></li>

                        <li>
                            <span class="opener">Co nabízím</span>
                            <ul>
                                <li><a href="/#catalogue">Výčet</a></li>
                                <li><a href="#">Ceník</a></li>
                                <li><a href="#">Příklady aplikací</a></li>
                            </ul>
                        </li>
                        <li><a href="/about-me.html">S čím nepomohu</a></li>
                        <li><a href="#">Kontakt</a></li>
                    </ul>
                </nav>

            <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Z blogu</h2>
                    </header>
                    <div class="mini-posts">
                        <!-- TODO: tady by se mohly ty články objevovat náhodně -->
                        <article>
                            <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
                            <p>Může backenďák dělat GUI/frontend?</p>
                        </article>
                        <article>
                            <a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
                            <p>Zaměstnání nebo živnost</p>
                        </article>
                        <article>
                            <a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
                            <p>Může backenďák dělat GUI/frontend?</p>
                        </article>
                    </div>
                    <ul class="actions">
                        <li><a href="#" class="button">Další články</a></li>
                    </ul>
                </section>
        </div>
    </div>
